name: my-first-workflow
on: 
  push:  
  schedule:
    - cron: '0 0 12 * *' # This will run the workflow every day at midnight
  workflow_dispatch: # This allows you to manually trigger the workflow from the GitHub Actions tab
jobs:
  job1:
    name: job1
    runs-on: ubuntu-latest
    steps:
        - name: Step 1    
          run: |
             pwd
             ls -lrth
             hostname

        - name: checkout    
          uses: actions/checkout@v5.0.0

        - name: Step 3
          run: |
              echo "pwd: $(pwd)" > myartifact.txt 
              mkdir -p artifacts
              echo $(ls -lrth) >> artifacts/list.txt
              cat artifacts/list.txt
              echo $(hostname) >> artifacts/hostname.txt
        - name: Upload single file
          uses: actions/upload-artifact@v5.0.0
          with:
            name: my-artifact   
            path: ./myartifact.txt
        - name: Upload artifact
          uses: actions/upload-artifact@v5.0.0
          with:
            name: directory-artifact
            path: artifacts
        - name: upload from multiple paths
          uses: actions/upload-artifact@v5.0.0
          with:
            name: multiple-artifacts
            path: |
              ./myartifact.txt
              ./artifacts
        - name: upload multiple with exclusions
          uses: actions/upload-artifact@v5.0.0
          with:
            name: wildcard-artifacts
            path: |
              ./myartifact.txt
              ./artifacts/*
              !**/hostname.txt

  job2:
    name: job2
    runs-on: ubuntu-latest
    needs: job1
    steps:
        - name: Step 1    
          run: |
             pwd
             ls -lrth

        - name: Download artifact
          uses: actions/download-artifact@v5.0.0
          with:
            name: my-artifact
        - name: show artifact content
          run: |
              pwd
              ls -lrth
              cat myartifact.txt
  job3:
    name: job3
    runs-on: ubuntu-latest
    needs: job1
    steps:
        - name: Step 1    
          run: |
             pwd
             ls -lrth

        - name: Download directory artifact
          uses: actions/download-artifact@v5.0.0
          with:
            name: directory-artifact
        - name: show artifact content
          run: |
              pwd
              ls -lrth
              cat artifacts/list.txt
              cat artifacts/hostname.txt