name: my-first-workflow
on: 
  push:  
  schedule:
    - cron: '0 0 12 * *' # This will run the workflow every day at midnight
  workflow_dispatch: # This allows you to manually trigger the workflow from the GitHub Actions tab
jobs:
  job1:
    name: job1
    runs-on: ubuntu-latest
    steps:
      - name: Step 1.1
        run: echo "This is step 1.1"
      - name: Step 1.2
        run: echo "This is step 1.2"
      - name: calling sleep command
        run: sleep 30
  job2:
    name: job2
    runs-on: ubuntu-latest
    steps:
      - name: Step 2.1
        run: echo "This is step 2.1"
      - name: Step 2.2
        run: echo "This is step 2.2"

  job3:
    name: job3
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: job with single dependency
        run: sleep 30

  job4:
    name: job4
    needs: [job1, job2, job3]
    runs-on: ubuntu-latest
    steps:
      - name: job with multiple dependencies 
        run: sleep 30