name: my-first-workflow
on: 
  push:  
  schedule:
    - cron: '0 0 12 * *' # This will run the workflow every day at midnight
  workflow_dispatch: # This allows you to manually trigger the workflow from the GitHub Actions tab
jobs:
  job1:
    name: job1
    runs-on: ubuntu-latest
    steps:
      - name: Step 1    
        run: |
           pwd
           ls -lrth
           hostname
           
      - name: checkout    
        uses: actions/checkout@v5.0.0
        
      - name: Step 3
        run: |
           pwd
           ls -lrth
           hostname  
