name: my-first-workflow
on:
  pull_request:
    branches:
      - main
  push:  
    branches:
      - dev
      - feature-*
      - main
  schedule:
    - cron: '0 0 12 * *' # This will run the workflow every day at midnight
  workflow_dispatch: # This allows you to manually trigger the workflow from the GitHub Actions tab
env:
  ENV_TYPE: dev
  APP_USER: thinknyx
  APP_PORT: 80


jobs:
  job1:
    name: job1
    runs-on: ubuntu-latest
    steps:
        - name: Step 1    
          run: |
             pwd
             ls -lrth
             hostname

        - name: checkout    
          uses: actions/checkout@v5.0.0

        - name: Step 3
          run: |
              echo "pwd: $(pwd)" > myartifact.txt 
              mkdir -p artifacts
              echo $(ls -lrth) >> artifacts/list.txt
              cat artifacts/list.txt
              echo $(hostname) >> artifacts/hostname.txt
        - name: Upload single file
          uses: actions/upload-artifact@v5.0.0
          with:
            name: my-artifact   
            path: ./myartifact.txt
        

  job2:
    name: job2
    runs-on: ubuntu-latest
    needs: job1
    steps:
        - name: Step 1    
          run: |
             pwd
             ls -lrth

        - name: Download artifact
          uses: actions/download-artifact@v5.0.0
          with:
            name: my-artifact
        - name: show artifact content
          run: |
              pwd
              ls -lrth
              cat myartifact.txt
        - name: test exit
          run: exit 0
        - name: refference env variable
          run: |
            echo "[Info Running Deployment for $ENV_TYPE]:  with user : $APP_USER, on port: $APP_PORT"
        - name: reffereing repository password
          run: |
            echo "The repository password is ${{ secrets.APP_PASSWORD }}"
  job3:
    name: job3
    runs-on: ubuntu-latest
    steps:
        - name: reffering context or inbuilt variable 
          run: |
            echo "The repository name is ${{ github.repository }}"
            echo "The event that triggered the workflow is ${{ github.event_name }}"
            echo "The workflow run ID is ${{ github.run_id }}
            echo "The workflow run number is ${{ github.run_number }}"
            echo "The actor that triggered the workflow is ${{ github.actor }}"