name: my-first-workflow
on: [push]
jobs:
  job1:
    name: job1
    runs-on: ubuntu-latest
    steps:
      - name: Step 1.1
        run: echo "This is step 1.1"
      - name: Step 1.2
        run: echo "This is step 1.2"
      - name: calling sleep command
        run: sleep 30
  job2:
    name: job2
    runs-on: ubuntu-latest
    steps:
      - name: Step 2.1
        run: echo "This is step 2.1"
      - name: Step 2.2
        run: echo "This is step 2.2"
      - name: calling sleep command
        run: sleep 30