name: my-first-workflow
on:
  pull_request:
    branches:
      - main
  push:  
    branches:
      - dev
      - feature-*
      - main
  schedule:
    - cron: '0 0 12 * *' # This will run the workflow every day at midnight
  workflow_dispatch: # This allows you to manually trigger the workflow from the GitHub Actions tab
env:
  ENV_TYPE: dev
  APP_USER: thinknyx
  APP_PORT: 80


jobs:
  unit-test:
    name: unit-test
    runs-on: ubuntu-latest
    steps:
        - name: checkout    
          uses: actions/checkout@v5.0.0
        - name: setup python
          uses: actions/setup-python@v6.0.0
          with:
            python-version: '3.x'
        - name: install dependencies
          run: |
             python -m pip install --upgrade pip
             pip install -r requirements.txt
        - name: run unit tests
          run: |
             mkdir -p test-reports
             pytest --junitxml=test-reports/results.xml --cov=. --cov-report=xml --cov-report=term-missing -v
        - name: Upload test report
          uses: actions/upload-artifact@v5.0.0
          with:
            name: test-report
            path: test-reports/